.main{
  width:400px;
  height:600px;
  background-color: white;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.center{
  background-color: azure;
  color: rgb(54, 31, 3);
  text-align: center;
}

.inp{
  border-radius: 10px;
  padding: 10px 30px;
}

.butt{
  /* border-bottom: antiquewhite;
   */
   background-color: antiquewhite;
   border: 0;
   margin-bottom: 10px;
   padding: 15px 20px;
   font-size: 20px;
   border-radius: 50%;

}
.butt:hover {
  background-color: blueviolet;
}

.list{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(151, 50, 151)
}